.page-navigation {
  margin: 2rem 0;
  text-align: center;
  a {
    border: rgb(224, 164, 88) 2px solid;
    margin: 2px;
    padding: 0.5rem;
    text-decoration: none;
  }

  a:active{
    color: red !important;
  }
}
